---
import clsx from "clsx";
import PageLayout from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";
import type { Entries } from "@/utils";

const meta = {
  description: "Разная инфа обо мне, моих проектах и навыках",
  title: "Кто я",
};

// prettier-ignore
const projectsGroups = [
  {
    title: "Frontend-разработка",
    projects: [
      { title: "Большой Макет с анимациями и эффектами на Vue", link: "https://seryibaran.github.io/maket__agencyvue" },
      { title: "Макет с анимациями", link: "https://seryibaran.github.io/maket-web-dev-project" },
      { title: "Макет простой", link: "https://seryibaran.github.io/maket-agency" },
      { title: "Сайт для проекта Privacy Search Companion", link: "https://seryibaran.github.io/PSC-site" },
      { title: "Простая стартовая страница для браузера", link: "https://seryibaran.github.io/SBStartpage" },
      { title: "Пародия на Twitter - Telehumpter", link: "https://github.com/SeryiBaran/telehumpter" },
      { title: "Список каналов для Смотрёшки", link: "https://seryibaran.github.io/smotreshka_list" },
      { title: "Этот сайт", link: "https://seryibaran.github.io" },
      { title: "Доработанный генератор простых картинок для проверки дисплея (feat. fknipp)", link: "https://seryibaran.github.io/test-picture-generator" },
    ],
  },
  {
    title: "Разное",
    projects: [
      { title: "Firefox расширение Privacy Search Companion", link: "https://github.com/SeryiBaran/Privacy-Search-Companion" },
      { title: "GUI для Yt-dlp", link: "https://github.com/SeryiBaran/yt-dlp-python-gui" },
      { title: "Термостат на Arduino", link: "https://github.com/SeryiBaran/ardustat" },
      { title: "Большие удобные кнопки для PlatformIO", link: "https://github.com/SeryiBaran/platformio-big-buttons" },
      { title: "Шина данных для Mindustry", link: "https://github.com/SeryiBaran/mindustry_sbbus" },
    ],
  },
];

const skillsGroupsNamesMap = {
  'skillsGroups': 'Хард скилы',
  'learningSkillsGroups': 'Изучаю',
} as const

interface Skill {
  title: string
  icon?: string
  beginner?: boolean
}

// prettier-ignore
const hardSkillsGroups: Skill[][] = [
  [
    { title: "HTML5, Семантика", icon: "skill-icons:html" },
  ],
  [
    { title: "CSS3", icon: "skill-icons:css" },
    { title: "SaSS", icon: "skill-icons:sass" },
    { title: "PostCSS", icon: "logos:postcss" },
    { title: "Tailwind/UnoCSS", icon: "skill-icons:tailwindcss-dark" },
    { title: "Bootstrap", icon: "skill-icons:bootstrap" },
  ],
  [
    { title: "JavaScript ES5/6/2022+", icon: "skill-icons:javascript" },
    { title: "TypeScript", icon: "skill-icons:typescript" },
  ],
  [
    { title: "Jquery", icon: "skill-icons:jquery" },
    { title: "AlpineJS", icon: "skill-icons:alpinejs-dark" },
    { title: "ThreeJS", icon: "skill-icons:threejs-dark" },
    { title: "RxJS", icon: "skill-icons:reactivex-dark", beginner: true },
    { title: "Anime.js, GSAP, Motion, Framer Motion", icon: "skill-icons:javascript" },
    { title: "Storybook, histoire", icon: "logos:storybook-icon" },
    { title: "TanStack Query", icon: "logos:react-query-icon" },
  ],
  [
    { title: "Vue 2/3", icon: "skill-icons:vuejs-dark" },
    { title: "Vue Router", icon: "skill-icons:vuejs-dark" },
    { title: "Pinia (+Pinia Colada)", icon: "skill-icons:pinia-dark" },
    { title: "Vuex", icon: "skill-icons:vuejs-dark" },
    { title: "Vue ecosystem", icon: "logos:vueuse" },
    { title: "Nuxt 2/3", icon: "skill-icons:nuxtjs-dark" },
  ],
  [
    { title: "React", icon: "skill-icons:react-dark" },
    { title: "React router", icon: "skill-icons:react-dark" },
    { title: "Redux Toolkit", icon: "skill-icons:redux" },
    { title: "Effector", icon: "logos:effector" },
    { title: "Reatom", icon: "mdi:database", beginner: true },
    { title: "React ecosystem", icon: "skill-icons:react-dark" },
    { title: "Next", icon: "skill-icons:nextjs-dark", beginner: true },
    { title: "T3 Stack", icon: "skill-icons:nextjs-dark", beginner: true },
  ],
  [
    { title: "Vite", icon: "skill-icons:vite-dark" },
    { title: "Rollup", icon: "skill-icons:rollupjs-dark" },
    { title: "Webpack", icon: "skill-icons:webpack-dark" },
    { title: "Gulp", icon: "skill-icons:gulp" },
    { title: "Babel", icon: "skill-icons:babel" },
  ],
  [
    { title: "ESlint", icon: "logos:eslint" },
    { title: "Prettier", icon: "logos:prettier" },
    { title: "Vitest", icon: "skill-icons:vitest-dark" },
    { title: "Jest", icon: "skill-icons:jest" },
    { title: "Cypress", icon: "skill-icons:cypress-light", beginner: true },
  ],
  [
    { title: "Astro", icon: "skill-icons:astro" },
    { title: "Jekyll", icon: "devicon:jekyll" },
  ],
  [
    { title: "Node.js", icon: "skill-icons:nodejs-dark" },
    { title: "PNPM", icon: "skill-icons:pnpm-dark" },
    { title: "Deno", icon: "skill-icons:deno-dark" },
    { title: "Bun", icon: "skill-icons:bun-dark" },
  ],
  [
    { title: "REST API", icon: "mdi:access-point-network" },
    { title: "GraphQL", icon: "skill-icons:graphql-dark" },
    { title: "Jamstack (SSG & CMS)", icon: "logos:jamstack-icon" },
    { title: "CMS", icon: "mdi:file-edit" },
    { title: "Supabase", icon: "skill-icons:supabase-dark" },
    { title: "Firebase", icon: "logos:firebase" },
    { title: "AppWrite", icon: "skill-icons:appwrite" },
    { title: "NocoDB", icon: "logos:nocodb" },
    { title: "PocketBase, Nhost, Rowy, Teable, Baserow, Undb", icon: "mdi:database" },
  ],
  [
    { title: "Express.js", icon: "skill-icons:expressjs-dark" },
    { title: "Fastify.js", icon: "simple-icons:fastify", beginner: true },
    { title: "Nest.js", icon: "skill-icons:nestjs-dark" },
    { title: "tRPC и аналоги", icon: "devicon:trpc", beginner: true },
  ],
  [
    { title: "Postman", icon: "skill-icons:postman" },
    { title: "Hoppscotch", icon: "devicon:hoppscotch" },
    { title: "ORM, Prisma и аналоги", icon: "skill-icons:prisma" },
    { title: "PostgreSQL", icon: "skill-icons:postgresql-dark" },
    { title: "SQLite", icon: "skill-icons:sqlite" },
    { title: "MySQL", icon: "skill-icons:mysql-dark", beginner: true },
    { title: "MongoDB", icon: "skill-icons:mongodb", beginner: true },
    { title: "Redis", icon: "skill-icons:redis-dark", beginner: true },
  ],
  [
    { title: "Rust", icon: "skill-icons:rust", beginner: true },
    { title: "Python", icon: "skill-icons:python-dark", beginner: true },
    { title: "PHP", icon: "skill-icons:php-dark", beginner: true },
    { title: "WordPress", icon: "skill-icons:wordpress" },
    { title: "Laravel", icon: "skill-icons:laravel-dark", beginner: true },
  ],
  [
    { title: "Брауз. расширения Manifest V2/V3", icon: "logos:chrome-web-store" },
    { title: "GrammY.js", icon: "logos:telegram" },
    { title: "Разработка расширений VSCode", icon: "skill-icons:vscode-dark" },
  ],
  [
    { title: "Docker", icon: "skill-icons:docker", beginner: true },
    { title: "CI/CD", icon: "mdi:cog", beginner: true },
    { title: "Nginx, caddy", icon: "skill-icons:nginx", beginner: true },
  ],
  [
    { title: "VSCode", icon: "skill-icons:vscode-dark" },
    { title: "WebStorm", icon: "skill-icons:webstorm-dark" },
    { title: "Sublime Text", icon: "skill-icons:sublime-dark" },
    { title: "Скрипты Bash/Python/Powershell", icon: "skill-icons:bash-dark" },
    { title: "Windows", icon: "skill-icons:windows-dark" },
    { title: "Linux", icon: "logos:linux-tux" },
    { title: "Git", icon: "skill-icons:git" },
    { title: "GitHub", icon: "skill-icons:github-dark" },
    { title: "GitLab", icon: "skill-icons:gitlab-dark" },
    { title: "Jira, Trello", icon: "logos:jira" },
    { title: "Notion", icon: "skill-icons:notion-dark", beginner: true },
    { title: "Obsidian", icon: "skill-icons:obsidian-dark" },
  ],
  [
    { title: "Figma", icon: "skill-icons:figma-dark" },
    { title: "Photoshop", icon: "devicon:photoshop", beginner: true },
    { title: "GIMP", icon: "devicon:gimp" },
  ],
  [
    { title: "roadmap.sh/backend", beginner: true },
    { title: "roadmap.sh/frontend" },
  ],
]

interface SkillsData {
  skillsGroups: Skill[][]
  learningSkillsGroups: Skill[][]
}

function filt(conditionFn: (arg: Skill) => boolean) {
  return hardSkillsGroups.map(group => group.filter(conditionFn)).filter(group => group.length > 0)
}

// TODO: rewrite shitcode
const hardSkillsData: SkillsData = {
  skillsGroups: filt(skill => !(skill.beginner || false)),
  learningSkillsGroups: filt(skill => skill.beginner || false)
}

const hardSkillsDataEntries = Object.entries(hardSkillsData) as Entries<typeof hardSkillsData>
---

<PageLayout meta={meta}>
  <div>
    <h1 class="title mb-6">Кто я</h1>

    <p class="mb-4">
      Иван Муз<span class="text-2xl">ы́</span>ка, 16 лет, Frontend разработчик. Люблю изучать что-то новое и профессионально развиваться, если чего-то не знаю - смогу быстро научиться. Умею разгребать легаси-код, даже бывало копался в минифицированном обфусцированном коде на Jquery. Умею и люблю работать в команде (если потребуется).
    </p>

    <ul class="mb-4">
      <li>Формат работы - удалёнщик</li>
      <li>Занятость - полная/проектная</li>
      <li>Ожидания по зарплате - $80/мес, от $20 за проект</li>
      <li>Опыт - 1 год коммерции и 1 год фриланса</li>
    </ul>

    {hardSkillsDataEntries.map(([skillsGroupId, skillsGroups]) => (skillsGroups.length > 0 && <>
        <h2 class="title mb-4 text-xl">{skillsGroupsNamesMap[skillsGroupId]}</h2>
        <ul class={ clsx("mb-4 list-inside list-none", skillsGroupId === 'learningSkillsGroups' && "opacity-60 hover:opacity-100") }>
          {
            skillsGroups.map((skillsGroup) => (
              <>
                <li class="mt-2 border-l-4 border-solid border-accent/80 py-1 pl-2">
                  <span class="inline-flex flex-wrap gap-x-4 gap-y-2">
                    {skillsGroup.map((skill) => (
                      <>
                        <span class="inline-flex items-center gap-2">
                          {skill.icon ? (
                            <Icon class="inline-block text-[1.6em]" name={skill.icon} />
                          ) : (
                            ""
                          )}
                          {skill.title}
                        </span>
                      </>
                    ))}
                  </span>
                </li>
              </>
            ))
          }
        </ul>
      </>))}

    <h2 class="title mb-4 text-xl">Опыт работы</h2>
    <ul class="mb-4 list-inside list-disc">
      <li>
        Фриланс: Frontend разработчик | 2022 - 2023 | Разработка и поддержка сайта |
        HTML/CSS/JS/SaSS
      </li>
      <li>
        topux.dev: HTML+CSS верстальщик | 2021-2022 | Верстка, базовый JS, доработка мелочей |
        HTML/CSS/JS/SaSS
      </li>
    </ul>

    <h2 class="title mb-4 text-xl">Портфолио</h2>

    <ul class="mb-4 list-inside list-disc">
      {
        projectsGroups.map((group) => (
          <>
            <li>
              <span>{group.title}</span>
              <ul class="mb-4 list-inside list-disc">
                {group.projects.map((project) => (
                  <>
                    <li>
                      <a class="cactus-link" href={project.link}>
                        {project.title}
                      </a>
                    </li>
                  </>
                ))}
              </ul>
            </li>
          </>
        ))
      }
    </ul>

    <p class="mb-4">
      И ещё много интересного/неинтересного <a
        class="cactus-link"
        href="https://github.com/SeryiBaran?tab=repositories">тут</a
      >.
    </p>

    <p class="mb-4 text-xs">
      Этот сайт основан на <a
        class="cactus-link"
        href="https://github.com/chrismwilliams/astro-theme-cactus"
        target="_blank">Astro Cactus</a
      >. А вообще, на чем он только не был основан, и на Jekyll, и на Astro, и на html+css <span
        class="text-[1px]">в уёбищном виде</span
      >... Можете посмотреть все это <a class="cactus-link" href="/posts/site_history">здесь</a>.
    </p>
  </div>
</PageLayout>

<style>
  ul li {
    margin-left: 16px;
  }
</style>
