---
import clsx from "clsx";
import PageLayout from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";
import type { Entries } from "@/utils";

const meta = {
  description: "Разная инфа обо мне, моих проектах и навыках",
  title: "Кто я",
};

// prettier-ignore
const projectsGroups = [
  {
    title: "Frontend-разработка",
    projects: [
      { title: "Большой Макет с анимациями и эффектами на Vue", link: "https://seryibaran.github.io/maket__agencyvue" },
      { title: "Макет с анимациями", link: "https://seryibaran.github.io/maket-web-dev-project" },
      { title: "Макет простой", link: "https://seryibaran.github.io/maket-agency" },
      { title: "Сайт для проекта Privacy Search Companion", link: "https://seryibaran.github.io/PSC-site" },
      { title: "Простая стартовая страница для браузера", link: "https://seryibaran.github.io/SBStartpage" },
      { title: "Пародия на Twitter - Telehumpter", link: "https://github.com/SeryiBaran/telehumpter" },
      { title: "Список каналов для Смотрёшки", link: "https://seryibaran.github.io/smotreshka_list" },
      { title: "Этот сайт", link: "https://seryibaran.github.io" },
      { title: "Доработанный генератор простых картинок для проверки дисплея (feat. fknipp)", link: "https://seryibaran.github.io/test-picture-generator" },
    ],
  },
  {
    title: "Разное",
    projects: [
      { title: "Firefox расширение Privacy Search Companion", link: "https://github.com/SeryiBaran/Privacy-Search-Companion" },
      { title: "GUI для Yt-dlp", link: "https://github.com/SeryiBaran/yt-dlp-python-gui" },
      { title: "Термостат на Arduino", link: "https://github.com/SeryiBaran/ardustat" },
      { title: "Большие удобные кнопки для PlatformIO", link: "https://github.com/SeryiBaran/platformio-big-buttons" },
      { title: "Шина данных для Mindustry", link: "https://github.com/SeryiBaran/mindustry_sbbus" },
    ],
  },
];

const skillsGroupsNamesMap = {
  'skillsGroups': 'Хард скилы',
  'learningSkillsGroups': 'Изучаю',
} as const

interface Skill {
  title: string
  icon: string
  beginner?: boolean
}

// prettier-ignore
const hardSkillsGroups: Skill[][] = [
  [
    { title: "HTML5, Семантика", icon: "skill-icons:html" },
  ],
  [
    { title: "CSS3", icon: "skill-icons:css" },
    { title: "SaSS", icon: "skill-icons:sass" },
    { title: "PostCSS", icon: "logos:postcss" },
    { title: "Tailwind", icon: "skill-icons:tailwindcss-dark" },
    { title: "UnoCSS", icon: "logos:unocss" },
    { title: "Bootstrap", icon: "skill-icons:bootstrap" },
  ],
  [
    { title: "JavaScript", icon: "skill-icons:javascript" },
    { title: "TypeScript", icon: "skill-icons:typescript" },
    { title: "Jquery", icon: "skill-icons:jquery" },
  ],
  [
    { title: "Vue.js", icon: "skill-icons:vuejs-dark" },
    { title: "Pinia", icon: "skill-icons:pinia-dark" },
    { title: "Vue.js ecosystem", icon: "logos:vueuse" },
    { title: "Nuxt.js", icon: "skill-icons:nuxtjs-dark" },
  ],
  [
    { title: "React.js", icon: "skill-icons:react-dark" },
    { title: "Redux Toolkit", icon: "skill-icons:redux" },
    { title: "Effector", icon: "logos:effector" },
    { title: "Reatom", icon: "mdi:database" },
    { title: "React.js ecosystem", icon: "skill-icons:react-dark" },
    { title: "Next.js", icon: "logos:nextjs-icon", beginner: true },
    { title: "T3 Stack", icon: "logos:nextjs-icon", beginner: true },
  ],
  [
    { title: "ESlint", icon: "logos:eslint" },
    { title: "Prettier", icon: "logos:prettier" },
  ],
  [
    { title: "Vite", icon: "skill-icons:vite-dark" },
    { title: "Rollup", icon: "skill-icons:rollupjs-dark" },
    { title: "Webpack", icon: "skill-icons:webpack-dark" },
    { title: "Gulp", icon: "skill-icons:gulp", beginner: true },
  ],
  [
    { title: "Vitest", icon: "skill-icons:vitest-dark" },
    { title: "Jest", icon: "skill-icons:jest", beginner: true },
    { title: "Cypress", icon: "skill-icons:cypress-light", beginner: true },
  ],
  [
    { title: "Astro", icon: "skill-icons:astro" },
  ],
  [
    { title: "Node.js", icon: "skill-icons:nodejs-dark" },
    { title: "PNPM", icon: "skill-icons:pnpm-dark" },
    { title: "Deno", icon: "logos:deno", beginner: true },
    { title: "Bun", icon: "logos:bun", beginner: true },
  ],
  [
    { title: "Брауз. расширения Manifest V2/V3", icon: "logos:chrome-web-store" },
    { title: "GrammY.js", icon: "logos:telegram" },
    { title: "Разработка расширений VSCode", icon: "skill-icons:vscode-dark" },
  ],
  [
    { title: "VSCode", icon: "skill-icons:vscode-dark" },
    { title: "WebStorm", icon: "skill-icons:webstorm-dark" },
    { title: "Sublime Text", icon: "skill-icons:sublime-dark" },
    { title: "Скрипты Bash/Python/Powershell", icon: "skill-icons:bash-dark" },
    { title: "Windows", icon: "skill-icons:windows-dark" },
    { title: "Linux", icon: "logos:linux-tux", beginner: true },
  ],
  [
    { title: "Supabase", icon: "skill-icons:supabase-dark" },
    { title: "AppWrite", icon: "skill-icons:appwrite", beginner: true },
    { title: "Firebase", icon: "logos:firebase", beginner: true },
    { title: "CMS", icon: "mdi:file-edit" },
    { title: "REST API", icon: "mdi:access-point-network" },
  ],
  [
    { title: "Backend фреймы, Nest.js", icon: "logos:nestjs" },
    { title: "ORM, Prisma и аналоги", icon: "skill-icons:prisma" },
    { title: "Базы данных PostgreSQL/SQLite", icon: "mdi:database" },
    { title: "GraphQL", icon: "mdi:access-point-network", beginner: true },
    { title: "tRPC и аналоги", icon: "logos:trpc", beginner: true },
  ],
  [
    { title: "PHP", icon: "logos:php", beginner: true },
    { title: "WordPress", icon: "logos:wordpress-icon", beginner: true },
    { title: "Laravel", icon: "logos:laravel", beginner: true },
  ],
]

interface SkillsData {
  skillsGroups: Skill[][]
  learningSkillsGroups: Skill[][]
}

function filt(conditionFn: (arg: Skill) => boolean) {
  return hardSkillsGroups.map(group => group.filter(conditionFn)).filter(group => group.length > 0)
}

// TODO: rewrite shitcode
const hardSkillsData: SkillsData = {
  skillsGroups: filt(skill => !(skill.beginner || false)),
  learningSkillsGroups: filt(skill => skill.beginner || false)
}

const hardSkillsDataEntries = Object.entries(hardSkillsData) as Entries<typeof hardSkillsData>
---

<PageLayout meta={meta}>
  <div>
    <h1 class="title mb-6">Кто я</h1>

    <p class="mb-4">
      Муз<span class="text-2xl">ы́</span>ка (ударение именно на Ы) Иван Викторович, родился
      2008-10-15T15:00:00.000+03:00, делает всякую <span class="text-[1px]">хуйню</span>всякость и
      радуется. А вообще Frontend разработчик.
    </p>
    <p class="mb-4 text-xs">
      Этот сайт основан на <a
        class="cactus-link"
        href="https://github.com/chrismwilliams/astro-theme-cactus"
        target="_blank">Astro Cactus</a
      >. А вообще, на чем он только не был основан, и на Jekyll, и на Astro, и на html+css <span
        class="text-[1px]">в уёбищном виде</span
      >... Можете посмотреть все это <a class="cactus-link" href="/posts/site_history">здесь</a>.
    </p>

    {hardSkillsDataEntries.map(([skillsGroupId, skillsGroups]) => (skillsGroups.length > 0 && <>
        <h2 class="title mb-4 text-xl">{skillsGroupsNamesMap[skillsGroupId]}</h2>
        <ul class={ clsx("mb-4 list-inside list-none", skillsGroupId === 'learningSkillsGroups' && "opacity-60 hover:opacity-100") }>
          {
            skillsGroups.map((skillsGroup) => (
              <>
                <li class="mt-2 border-l-4 border-solid border-accent/80 py-1 pl-2">
                  <span class="inline-flex flex-wrap gap-x-4 gap-y-2">
                    {skillsGroup.map((skill) => (
                      <>
                        <span class="inline-flex items-center gap-2">
                          {skill.icon ? (
                            <Icon class="inline-block text-[1.8em]" name={skill.icon} />
                          ) : (
                            ""
                          )}
                          {skill.title}
                        </span>
                      </>
                    ))}
                  </span>
                </li>
              </>
            ))
          }
        </ul>
      </>))}

    <h2 class="title mb-4 text-xl">Опыт работы</h2>
    <ul class="mb-4 list-inside list-disc">
      <li>
        topux.dev: HTML+CSS верстальщик | 2021-2022 | Верстка, базовый JS, доработка мелочей |
        HTML/CSS/JS/SaSS
      </li>
    </ul>

    <h2 class="title mb-4 text-xl">Портфолио</h2>

    <ul class="mb-4 list-inside list-disc">
      {
        projectsGroups.map((group) => (
          <>
            <li>
              <span>{group.title}</span>
              <ul class="mb-4 list-inside list-disc">
                {group.projects.map((project) => (
                  <>
                    <li>
                      <a class="cactus-link" href={project.link}>
                        {project.title}
                      </a>
                    </li>
                  </>
                ))}
              </ul>
            </li>
          </>
        ))
      }
    </ul>

    <p>
      И ещё много интересного/неинтересного <a
        class="cactus-link"
        href="https://github.com/SeryiBaran?tab=repositories">тут</a
      >.
    </p>
  </div>
</PageLayout>

<style>
  ul li {
    margin-left: 16px;
  }
</style>
