---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import dayjs from 'dayjs';
import 'dayjs/locale/ru'

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
  {
    desc: "Build fast websites, faster.",
    href: "https://astro.build",
    title: "Astro",
  },
  {
    desc: "Rapidly build modern websites without ever leaving your HTML.",
    href: "https://tailwindcss.com",
    title: "Tailwind CSS",
  },
  {
    desc: "Simple and easy-to-use markup language.",
    href: "https://www.markdownguide.org/",
    title: "Markdown",
  },
  {
    desc: "Markdown for the component era.",
    href: "https://mdxjs.com/",
    title: "MDX",
  },
  {
    desc: "Generating png Open Graph images for blog posts.",
    href: "https://github.com/vercel/satori",
    title: "Satori",
  },
  {
    desc: "A fully static search library.",
    href: "https://pagefind.app/",
    title: "Pagefind",
  },
  {
    desc: "An easy to use Icon component for Astro.",
    href: "https://github.com/natemoo-re/astro-icon#readme",
    title: "Astro Icon",
  },
  {
    desc: "Highly customisable source code & syntax highlighter",
    href: "https://expressive-code.com/",
    title: "Expressive Code",
  },
];
---

<PageLayout meta={{ title: "Главная" }}>
  <section>
    <h1 class="title mb-6">SeryiBaran</h1>
    <p class="mb-4 text-sm text-red-500">
      ! Мой VK аккаунт <a class="cactus-link" href="https://vk.com/ivanchai6">@ivanchai6</a> скоро удалится,
      т.к. у меня нет доступа к номеру телефона. Теперь у меня другой VK аккаунт на другом телефоне,
      он указан на странице <a class="cactus-link" href="/contacts">Контакты</a>.
    </p>
    <p class="mb-4">
      Привет! Я Иван Музы́ка, на момент последнего обновления сайта ({dayjs().toISOString()} по UTC) мне { dayjs().diff(dayjs("2008-10-15T15:00:00.000+03:00"), 'year') } лет и я начинающий (а может быть и
      нет 😉) Frontend разработчик.
    </p>
    <p class="mb-4">
      Вся инфа обо мне и сайте + список моих проектов и навыков находится на <a class="cactus-link" href="/about">странице Кто я</a>.
    </p>
    <p class="mb-4">
      Все мои контакты находятся на странице <a class="cactus-link" href="/contacts">Контакты</a>. Наиболее я активен в
      Telegram.
    </p>
    <p class="mb-4">
      А ещё я знаю наизусть <a class="cactus-link" href="/pi">3.1415926535897932384626433832795028841971693993751058</a>.
    </p>
    <p class="mb-4">
      <a class="cactus-link" href="/contacts">Задонатить</a>.
    </p>
    <!-- <a href="https://hits.seeyoufarm.com" class="inline-block"><img src={`https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=${encodeURI(Astro.url.toString() + "seryibaransitetest")}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=${encodeURI("Просмотров:")}&edge_flat=false`}/></a> -->
    <a href="https://hits.seeyoufarm.com" class="inline-block"><img src={`https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=${encodeURI(Astro.url.toString() + "__SeryiBaranSite12022025TestLJJNo34")}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=${encodeURI("Просмотров:")}&edge_flat=false`}/></a>
    <SocialList />
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="title mb-4 text-xl">Последние посты</h2>
    <ul class="space-y-4">
      {
        allPostsByDate.map((p) => (
          <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
  <section class="mt-16">
    <h2 class="title mb-4 text-xl">Технологии</h2>
    <dl class="space-y-4">
      {
        cactusTech.map(({ desc, href, title }) => (
          <div class="flex flex-col gap-2 sm:flex-row">
            <dt>
              <span class="flex">
                <a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
                  {title}
                </a>
                :
              </span>
            </dt>
            <dd>{desc}</dd>
          </div>
        ))
      }
    </dl>
  </section>
</PageLayout>
