---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<a
  href={`/posts/${post.slug}/`}
  class="hover:transform hover:translate-y--1 transition transition-all flex flex-col gap-0.5 link_without_effects cursor-pointer rounded flex flex-col border border-solid border-primary/50 hover:border-primary p-4 bg-primary/5 hover:bg-primary/10 hover:shadow-lg"
>
  <span class="flex flex-row flex-wrap gap-x-3 gap-y-0.3 opacity-70 text-sm">
    <FormattedDate date={post.data.date} isColored={true} />
    {
      post.data.updatedDate && (
        <FormattedDate
          date={post.data.updatedDate}
          isUpdatedDate={true}
          isColored={true}
        />
      )
    }
  </span>
  <p class="text-lg line-height-tight">{post.data.title}</p>
  <span class="grow"></span>
  <p class="block opacity-70 text-xs">
    {post.data.description}
  </p>
</a>
