---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import FormattedDate from '@/components/FormattedDate.astro'
import Divider from '@/components/Divider.astro'
import { SITE_DESCRIPTION } from '@/consts'
import TablerPencil from '~icons/tabler/pencil'

interface Props {
  isShowDate?: boolean
  data: {
    updatedDate?: Date | undefined
    heroImage?: string | undefined
    title: string
    description?: string
    date?: Date
    draft?: boolean
  }
  slug?: CollectionEntry<'blog'>['slug']
}

const {
  isShowDate = true,
  data: { title, description, date, updatedDate, heroImage, draft },
  slug = null,
} = Astro.props

let image

if (heroImage) {
  image = heroImage
} else if (slug) {
  image = `/image/${slug}.png`
}
---

<BaseLayout
  title={title}
  description={description || SITE_DESCRIPTION}
  image={image}
>
  <article>
    <div class="pageInfo flex flex-col gap-1">
      {heroImage && <img src={heroImage} alt="" />}
      <h1>{title}</h1>
      {
        !draft && isShowDate && date && (
          <FormattedDate
            date={date}
            isShowTime={date.getHours() !== 0 && date.getMinutes() !== 0}
          />
        )
      }
      {
        !draft && updatedDate && (
          <FormattedDate
            date={updatedDate}
            isUpdatedDate={true}
            isShowTime={
              updatedDate.getHours() !== 0 && updatedDate.getMinutes() !== 0
            }
          />
        )
      }
      {console.log(date)}
      {
        draft && (
          <p class="m-0 inline-flex items-center gap-1 text-lg">
            <TablerPencil class="w-1em h-1em" />
            Черновик
          </p>
        )
      }
      <Divider article={false} />
    </div>
    <slot />
  </article>
</BaseLayout>
